.wt_block {
  background: url(wt-bgr.png) no-repeat 80%, #fff;
  height: 91vh;
  padding-top: 120px;
  padding-right: 50px;
  padding-bottom: 50px;
  font-family: 'Noto Sans';
  position: relative;
}
.title {
  font-size: 60px;
  line-height: 1;
  margin-bottom: 25px;
  color: rgba(0, 0, 0, 0.8);
}
.title span {
  font-size: 24px;
}
.container-fluid .container {
  width: 80%;
}
.description {
  color: rgba(0, 0, 0, 0.7);
  font-size: 24px;
  margin-bottom: 35px;
}
.card-action {
  color: #fff;
}
.card .card-content .card-title {
  font-weight: bold;
}
.wt_label {
  text-align: center;
}
.title_number {
  font-size: 62px;
  position: absolute;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.2);
  left: -25px;
}
.wt_section {
  font-family: 'Noto Sans';
  margin-bottom: 50px;
}
.wt_label {
  font-weight: bold;
  font-size: 36px;
}
.wt_section .block {
  padding-top: 60px;
  padding-right: 40px;
  padding-bottom: 60px;
  padding-left: 40px;
  background-color: #ffffff;
  border-radius: 12px 12px 12px 12px;
  overflow: hidden;
  box-shadow: 0px 50px 80px 0px rgba(15, 19, 25, 0.1);
}
.row {
  margin-bottom: 0px;
}
.block {
  padding: 50px 0;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  font-weight: bold;
}
.card {
  box-shadow: none;
}
.card .card-content p {
  line-height: 2;
}
