.button {
  display: inline-block;
  padding-top: 18px;
  padding-right: 34px;
  padding-bottom: 18px;
  padding-left: 34px;
  font-family: 'Noto Sans';
  color: #ffffff;
  box-shadow: 0px 10px 30px 0px rgba(255, 77, 84, 0.24);
  border-radius: 100px;
  border: 2px solid;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  background: #ff4d54;
  outline: none;
}
.button.primary:hover {
  cursor: pointer;
  background: #b0858c;
  transition: background 300ms ease;
}
.button.success:hover {
  cursor: pointer;
  background: #e2e4e6;
  transition: background 300ms ease;
}
.button:focus {
  outline: none;
}

.button:active {
  box-shadow: inset 2px 2px 1px solid rgba(0, 0, 0, 0.3);
}

.button:disabled {
  background: #ccc;
  color: #000;
  cursor: not-allowed;
}

.button.error {
  background: rgba(240, 87, 108, 0.7);
}
.button.success {
  background: #ebf9f9;
  color: #3cc3d4;
  border: none;
  box-shadow: none;
}

.button.primary {
  background: #ff4d54;
  color: #fff;
}
